@using WSEI_MURP.Models.DataModels;

@model IEnumerable<OrderModel>;

@{
    ViewData["Title"] = "User Dashboard";
}

<div class="text-center">
    <h1 class="display-4">User Dashboard</h1>
    <h4>Hello, @ViewBag.UserName !</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            @if (ViewBag.OrderHistory != null && ViewBag.OrderHistory.Count > 0)
            {
                <ul class="list-group">
                    @foreach (OrderModel order in ViewBag.OrderHistory)
                    {
                        <li class="list-group-item">
                            <div class="media">
                                <img src="..." class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">ORDER @order.OrderID</h5>
                                    @order.Status
                                    @if (order.Status == "IN PROGRESS")
                                    {
                                        <a class="btn btn-ouline-warning" 
                                           href="@Url.Action("ResolveAndRateOrder","User", new { orderID = order.OrderID })">Resolve</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
            @if (ViewBag.IsCompany)
            {
                <a href="@Url.Action("Index","Company")">Company Dashboard</a>
            }
            else
            {
                <a href="@Url.Action("RegisterCompany","Company")">Register Company</a>
            }
        </div>
    </div>
</div>
