@{
    ViewData["Title"] = "Order Summary";
}

<h1>Review Order and your Details</h1>

<div>
    <p><strong>ID:</strong> @ViewBag.Order.OrderID</p>
    <p><strong>Creation Date:</strong> @ViewBag.Order.CreationDate</p>
    <p><strong>Company Email:</strong> @ViewBag.Order.CompanyEmail</p>
    <p><strong>Localization:</strong> @ViewBag.Order.Localization</p>
    <p><strong>Order Status:</strong> @ViewBag.Order.Status</p>
    <p><strong>Required Driver:</strong> NO</p>
    <p><strong>Vehicle Registration Number:</strong> @ViewBag.Order.CarRegistrationNumber</p>
    <p><strong>Price:</strong> @ViewBag.Order.Price</p>
    <p><strong>Description:</strong> @ViewBag.Order.Description</p>
    <br />
    <br/>
    <p><strong>Your Email:</strong>@ViewBag.UserEmail</p>
</div>

<a href="@Url.Action("SaveOrder","User",new { orderId = ViewBag.Order.OrderID })">Data Good? Save Order!</a>
<a href="@Url.Action("Index")">Data Not Good? Come back!</a>