@using WSEI_MURP.Models.DataModels
@{
    ViewData["Title"] = "Single Order Page";
}

    <div class="card">
        <h5 class="card-header">Order: @ViewBag.Order.OrderID</h5>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">@ViewBag.Order.Localization</h6>
            <h6 class="card-subtitle mb-2 text-muted">Status: @ViewBag.Order.Status</h6>
            <h6 class="card-subtitle mb-2 text-muted">Car: @ViewBag.Order.CarRegistrationNumber</h6>
            <h6 class="card-subtitle mb-2 text-muted">Price: @ViewBag.Order.Price$</h6>

            <p class="card-text">
                @ViewBag.Order.Description
            </p>
            <p class="card-text">
                @ViewBag.CarOrder.Brand
                @ViewBag.CarOrder.Model
                @ViewBag.CarOrder.RegistrationNumber
            </p>

            <a href="@Url.Action("OrderSummary","User", new { orderId = ViewBag.Order.OrderID })" class="btn btn-primary">Choose Me!</a>
        </div>
    </div>