@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

@if (ViewBag.Cars.Length == 0)
{
    <div class="alert alert-light" role="alert">
        There is no cars associated with your company.
    </div>
}
else
{
    <div class="row">
        @foreach (var car in ViewBag.Cars)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@car.Brand @car.Model</h5>
                        <p class="card-text">Load: @car.Load, Category: @car.Category, </p>
                        <p class="card-text">Status: @car.Status</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="AddCar">Add Car</a>