@using WSEI_MURP.Models.DataModels
@{
    ViewData["Title"] = "Company Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Company Dashboard</h1>
    <h4>Hello, @ViewBag.Company_Name !</h4>
</div>

<div class="container">
    @if (ViewBag.Company_Feadback_Total_Score > 0 && ViewBag.Company_Feedback_Amount > 0)
    {
        <div class="row">
            <h3>Statistics</h3>
            <p>Feedback Total Score: @ViewBag.Company_Feadback_Total_Score</p>
            <p>Feedback Amount: @ViewBag.Company_Feedback_Amount</p>
            <p>Average Rating: @ViewBag.Company_Feadback_Total_Score/ViewBag.Company_Feedback_Amount</p>
        </div>
    }
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   asp-area=""
                   asp-controller="Company"
                   asp-action="Cars"> Cars</a>
                <a class="list-group-item list-group-item-action"
                   asp-area=""
                   asp-controller="Company"
                   asp-action="Order"> Orders</a>
            </div>
        </div>
        <div class="col-9">
            @if (ViewBag.Orders != null && ViewBag.Orders.Length > 0)
            {
                <ul class="list-group">
                    @foreach (OrderModel order in ViewBag.Orders)
                    {
                        <li class="list-group-item">
                            <div class="media">
                                <img src="..." class="mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">ORDER @order.OrderID</h5>
                                    @order.Status
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
