@model WSEI_MURP.Models.DataModels.CarModel
<h1>Dodaj samochód</h1>

<form asp-action="AddCarToDB">
    <div class="form-group">
        <label asp-for="@Model.Brand">Marka samochodu:</label>
        <input asp-for="@Model.Brand" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Model">Model samochodu</label>
        <input asp-for="@Model.Model" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Load">Ładowność</label>
        <input asp-for="@Model.Load" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Category">Rodzaj samochodu</label>
        <input asp-for="@Model.Category" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj samochód</button>
</form>